h1{
	font-size:48px;
    font-family:arial,sans-serif;
	margin:10px;
}
p{
	font-size:20px;
	margin:10px;
}

.navbar{
	background-color: white;
	float: right;
	margin-top: 10px;
}
.navbar ul li{
	display: inline;
	color: #30669c;
}
.navbar ul li a:hover{
	color: #18AFE0;
}
.navbar a{
	text-decoration:none;	
	font-family:sans-serif;
	color:#222222;
	padding:25px 5px 10px 8px;
	font-size:15px;
	vertical-align:center;
	align:right;
	margin:10px;
}
.navbar a:hover{
	color:red;
}
.general {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    padding-top: 80px;
    background-color:white;
}
.title {
    font-size: 24px;
    font-weight: bold;
    font-family:sans-serif;    
    color: #cc0000;
    margin-top: 10px;
    margin-bottom: 10px;
}
#guess{
    font-size: 20px;
    border: 1px solid black;
}
#target, #error, #err, #feedback{
    font-size: 20px;
    border: 0px dotted #e8e8e8;
    background-color:light-blue;   
}
#play, #hint{
    font-size:20px;
    height: 16px;
    width: 50px;
    background-color:light-blue;
}
#hot{
    color:red;
}
#cold{
    color:blue;
}