h1{
	font-size:48px;
    font-family:arial,sans-serif;
	margin:10px;
}
p{
	font-size:24px;
	margin:10px;
}
.general {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    padding-top: 80px;
    background-color:white;
}
.title0 {
    font-size: 24px;
    font-weight: bold;
    font-family:sans-serif;    
    color: black;
    margin-top: 15px;
    margin-bottom: 8px;
}
.title1 {
    font-size: 24px;
    font-weight: bold;
    font-family:sans-serif;    
    color: #ccbbaa;
    margin-top: 24px;
    margin-bottom: 8px;
}
#guess{
    font-size: 20px;
    border: 1px solid black;
    width:3em;
    text-align: center;
}
#target, #err, #feedback{
    font-size: 20px;
    border: 0px solid #e8e8e8;
    text-align: center;
}
#err{
    width:480px;
}
#target{
    width:3em;
}
#play, #hint{
    font-size:24px;
    font-weight:bold;
    height: 36px;
    width: 80px;
    background-color:yellow;
    border-radius:5px;
}
#hot{
    color:red;
}
#cold{
    color:blue;
}